[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "==1.6.0"}
discord-ext-menus = {file = "https://github.com/Rapptz/discord-ext-menus/archive/4429b56.zip"}
aiohttp = "==3.7.4"
asyncio = "==3.4.3"
mutagen = "==1.45.1"
pillow = ">=8.1.0"
pygithub = "==1.54.1"
pytz = "==2021.1"
redis = "==3.5.3"
requests = "==2.25.1"
typing = "==3.7.4.3"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.0"
